.sidebar {
  width: 270px;
  height: 100vh;
  /* border: 1px solid red; */
  color: white;
  position: sticky; /* will always remain on the screen */
  /* background-color: blue; */
  top: 0;
}
.navheader {
  display: flex;
  justify-content: center;
  /* border: 2px solid blue; */
  position: relative;
  /* align-items: center; */
  /* background-color: rgb(12, 10, 12); */
}
.navheader .logotext {
  position: relative;
  top: 7%;
}
.navheader .closemenu {
  position: absolute;
  right: 0;
}
.navcontent {
  /* background-color: rgb(46, 35, 45); */
}
.navfooter {
  /* background-color: rgb(105, 7, 97); */
}
.logotext {
  cursor: pointer;
}
